<div class="card" [ngClass]="{'current-card': i == currentStep}" *ngFor="let frase of frasesList; let i = index; let last = last; let first = first">
  <div class="image-div" [style.background-color]="frase.bgcolor">
    <img [src]="frase.img">
  </div>
  <div class="text-div">
    <h3>{{ frase.title }}</h3>
    <p>{{ frase.description }}</p>
    <div class="controls">
      <div class="control-left">
        <span *ngFor="let frase of frasesList; let i = index" class="dot" [ngClass]="{ 'dot-current' : currentStep === i }"></span>
      </div>
      <div class="control-right">
        <button (click)="stepBack()" *ngIf="last || !first" class="arrow-div arrow-right"><i class="fa-solid fa-arrow-left"></i></button>
        <button (click)="stepForward()" *ngIf="!last" class="arrow-div arrow-left"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
